/* 导入动画 */
@import url("animation.css");

* {
  border: none;
  border-radius: 10px;
  box-shadow: none;
  font-family: "SourceCodeVF", "JetbrainsMono Nerd Font",
    "NotoSansM Nerd Font Mono";
  font-size: 20px;
  min-height: 0px;
}

#backlight,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#custom-launcher,
#custom-media,
#custom-power,
#custom-wallpaper,
#memory,
#mpd,
#window,
#network,
#pulseaudio,
#tray {
  color: #161320;
  transition: none;
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

#window {
  padding-left: 12px;
  border-radius: 30px;
  font-weight: bolder;
  color: rgba(183, 199, 65, 0.99);
  background-color: rgba(110, 22, 80, 0.7);
  /* background-color: rgba(124, 70, 34, 0.8); */
  /* background-color: rgba(190, 77, 97, 0.8); */
}

window#waybar {
  background-color: transparent;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  font-weight: bolder;
  font-size: 20px;
  /* font-style: oblique; */
  /* font-style: italic; */
  font-style: normal;
  color: rgba(191, 229, 35, 0.9);
  background-color: rgba(144, 55, 84, 0.95);
  /* background-color: rgba(18, 52, 96, 0.8); */
  border: none;
  border-radius: 10px;
}

tooltip label {
  color: rgba(191, 229, 35, 0.9);
  border-radius: 10px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* button:hover { */
/*   background: inherit; */
/*   box-shadow: inset 0 -3px #ffffff; */
/* } */

#workspaces {
  margin-top: 3px;
  margin-bottom: 1px;
  margin-left: 12px;
  margin-right: 12px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  transition: none;
  opacity: 1;
  font-size: 20px;
}

#workspaces button {
  color: rgba(202, 158, 230, 1);
  background-color: rgba(248, 247, 240, 1);
  border-bottom-style: outset;
  border-width: 4px;
  border-color: rgba(64, 152, 199, 0.99);
  border-radius: 50px;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 6px;
  padding-left: 6px;
  font-weight: bolder;
}

#workspaces button.active {
  border-bottom-style: outset;
  border-width: 4px;
  border-color: rgba(219, 75, 51, 0.99);
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 2px;
  color: rgba(248, 247, 240, 1);
  background-color: rgba(202, 158, 230, 0.98);
  border-radius: 15px;
}

#workspaces button.empty {
  border-radius: 15px;
  border: none;
  color: rgba(202, 158, 230, 0.95);
  background-color: transparent;
}

#workspaces button:hover {
  background-color: rgba(76, 117, 72, 1);
  color: #131313;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 15px;
  font-style: normal;
  font-size: 36px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


/* #workspaces button.persistent { */
/*    border-style: solid; */
/*    border-width: 1px; */
/*    border-color: #c5b8a8; */
/*    border-radius: 15px; */
/*    color: rgba(202, 158, 230, 0.95); */
/*    background-color: transparent; */
/* } */

/* #workspaces button.visible { */
/*   border-style: solid; */
/*   border-width: 1px; */
/*   border-color: #c5b8a8; */
/*   border-radius: 15px; */
/*   color: rgba(202, 158, 230, 0.95); */
/*   background-color: transparent; */
/* } */

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}

#network {
  background-color: #bd93f9;
}

#network.disabled {
  background-color: #e18a3b;
  animation-name: network-diabled;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: #bc3823;
  animation-name: network-disconnected;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

#network.linked {
  background-color: #bd93f9;
  animation-name: network-linked;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate-reverse;
}

#bluetooth {
  background-color: #ba79b1;
}

#pulseaudio {
  background-color: #fae3b0;
}

#pulseaudio.muted {
  padding-left: 2px;
  padding-right: 8px;
  background-color: #fae3b0;
}

#battery {
  background-color: #b5e8e0;
}

#battery.warning {
  background-color: orange;
}

#battery.critical {
  background-color: red;
}

#battery.charging {
  background-color: #b5e8e0;
  animation-name: battery-charging;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.plugged {
  background-color: #b5e8e0;
}

#battery.warning:not(.charging) {
  background-color: #b5e8e0;
  animation-name: battery-warning;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* 动画持续次数 */
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  animation-name: battery-cirtical;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  background-color: #f8bd96;
}

#clock {
  background-color: #abe9b3;
}

#memory {
  margin-top: 6px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  background-color: rgba(221, 182, 242, 0.9);
}

#cpu {
  background-color: rgba(150, 205, 251, 0.9);
  margin-left: 4px;
  margin-right: 4px;
}

#cava {
  background-color: #c9cbff;
}

#tray {
  /* color: #B5E8E0; */
  /* background: #2980b9; */
  background-color: rgba(213, 224, 213, 0.9);
  /* border-color: rgba(96, 67, 34, 1); */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-launcher {
  font-size: 24px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 15px;
  color: #00adb0;
  background-color: rgba(1, 0, 0, 0);
}

#custom-power {
  font-size: 20px;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 8px;
  background-color: #f28fad;
}

#custom-wallpaper {
  padding-right: 14px;
  background-color: #c9cbff;
}

#custom-media {
  /* color: rgba(19, 57, 62, 90); */
  /* color: rgba(0, 110, 143, 1); */
  /* color: rgba(255, 0, 0, 80); */
  /* color: rgba(18, 46, 106, 100); */
  color: rgba(191, 229, 35, 98);
  /* background-color: #f2cdcd; */
  background-color: rgba(242, 205, 205, 0.1);
}

#taskbar {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  background-color: rgba(0, 0, 0, 0.1);
}

#taskbar button.active {
  background-color: rgba(0, 0, 0, 0);
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  padding: 0 10px;
  background-color: #cdd6f4;
  color: #2b2735;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #a6520a;
}

#mpd.paused {
  background-color: #fac03d;
}

#mpd.playing {
  background-color: #779649;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
