/* 导入动画 */
@import url("animation.css");

* {
  border: none;
  border-radius: 10px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 18px;
  min-height: 10px;
}

#window {
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  font-weight: bolder;
  font-size: 18px;
  transition: none;
  color: rgba(183, 199, 65, 0.99);
  /* background-color: rgba(124, 70, 34, 0.8); */
  background-color: rgba(110, 22, 80, 0.7);
  /* background-color: rgba(190, 77, 97, 0.8); */
}

window#waybar {
  background-color: transparent;
}

window#waybar.empty #window {
  background-color: transparent;
}

window#waybar.empty {
  border: none;
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  /* border-radius: 15px; */
  /* border-width: 0px; */
  /* border-style: solid; */
  /* border-style: dotted; */
  /* border-style: inset; */
  /* border: 1px solid rgba(100, 114, 125, 0.5); */
  /* border-color: transparent; */
  /* transition: none; */
  font-weight: bolder;
  font-size: 20px;
  /* font-style: oblique; */
  /* font-style: italic; */
  font-style: normal;
  color: rgba(191, 229, 35, 0.9);
  background-color: rgba(144, 55, 84, 0.95);
  /* background-color: rgba(18, 52, 96, 0.8); */
}

#workspaces {
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 8px;
  border-radius: 10px;
  background-color: transparent;
  transition: none;
}

#workspaces button {
  color: #cba6f7;
  background-color: #f8f7f0;
  box-shadow: inset 0 -3px transparent;
  border-bottom-style: outset;
  border-width: 4px;
  border-color: rgba(64, 152, 199, 0.98);
  border-radius: 15px;
  margin-right: 8px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-weight: bolder;
  font-size: 18px;
}

#workspaces button.active {
  border-bottom-style: outset;
  border-width: 4px;
  border-color: rgba(219, 75, 51, 0.99);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 2px;
  background-color: rgba(202, 158, 230, 0.98);
  color: #f8f7f0;
}

#workspaces button.empty {
  border-style: solid;
  border-width: 1px;
  border-color: #c5b8a8;
  color: rgba(202, 158, 230, 0.95);
  background-color: transparent;
}

#workspaces button:hover {
  /* background-color: lightblue; */
  background-color: rgb(142, 175, 140);
  color: #131313;
  border: none;
  font-style: oblique;
  font-size: 20px;
}

/*  #workspaces button.visible {  */
/*    color: rgba(248, 247, 240, 0.9);  */
/*    color: rgba(23, 84, 56, 1);  */
/*    background-color: transparent;  */
/* } */

button {
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #bd93f9;
}

#network.disabled {
  color: #161320;
  background-color: #e18a3b;
  animation-name: network-diabled;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate;
}

#network.disconnected {
  color: #161320;
  background-color: #bc3823;
  animation-name: network-disconnected;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

#network.linked {
  color: #161320;
  background-color: #bd93f9;
  animation-name: network-linked;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate-reverse;
}

#bluetooth {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #ba79b1;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #1a1826;
  background-color: #fae3b0;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #b5e8e0;
}

#battery.warning {
  background-color: orange;
}

#battery.critical {
  background-color: red;
}

#battery.charging {
  color: #161320;
  background-color: #b5e8e0;
  animation-name: battery-charging;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate;
}

#battery.plugged {
  color: #161320;
  background-color: #b5e8e0;
}

#battery.warning:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: battery-warning;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* 动画持续次数 */
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: battery-cirtical;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #f8bd96;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #abe9b3;
  /*background: #1A1826;*/
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #ddb6f2;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #96cdfb;
}

#cava {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #c9cbff;
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  /* color: #B5E8E0; */
  /* background: #2980b9; */
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(96, 67, 34, 1);
  /* background: rgba(41, 128, 185, 0); */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-launcher {
  font-size: 24px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #00adb0;
  background-color: rgba(1, 0, 0, 0);
}

#custom-power {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 8px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #f28fad;
}

#custom-wallpaper {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background-color: #c9cbff;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  /* color: #161320; */
  /* color: rgba(19, 57, 62, 90); */
  /* color: rgba(0, 110, 143, 1); */
  /* color: rgba(255, 0, 0, 80); */
  /* color: rgba(18, 46, 106, 100); */
  color: rgba(191, 229, 35, 98);
  /* background-color: #f2cdcd; */
  background-color: rgba(242, 205, 205, 0.1);
}

#taskbar {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  background-color: rgba(0, 0, 0, 0.1);
}

#taskbar button.active {
  background-color: rgba(0, 0, 0, 0);
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  padding: 0 10px;
  border-radius: 15px;
  background-color: #cdd6f4;
  color: #516079;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
