@import '../../.cache/wal/colors-waybar.css';

window {
    font-size: 24pt;
    /* color: #F9E3DF; */
    color: @foreground;
    /* text */
    background-color: rgba(30, 30, 46, 0.95);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 80px;
    border: 0px;
    outline-style: none;
}

button:focus {
    /* background-color: transparent; */
    /* background-color: rgba(200, 220, 255, 0.1); */
    background-color: @background;
    color: @color13;
    background-size: 50%;
    margin: 30px;
    border-radius: 80px;
    outline-style: none;
}

/* button:active { */
/*     background-color: transparent; */
/*     color: #A0536C; */
/*     background-size: 50%; */
/*     margin: 30px; */
/*     border-radius: 80px; */
/*     outline-style: none; */
/* } */
/**/
/* button:hover { */
/*     background-color: transparent; */
/* color: #A0536C; */
/*     color: @color13; */
/*     background-size: 50%; */
/*     margin: 30px; */
/*     border-radius: 80px; */
/*     outline-style: none; */
/**/
/* } */

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em;
    /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}

#lock:focus,
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#logout:focus,
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}

#suspend:focus,
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#shutdown:focus,
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}

#reboot:focus,
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#hibernate:focus,
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
