/*
* Css Colors
*/
@define-color blur_background rgba(26, 17, 15, 0.9);

@define-color button_hover_text_color #55200c;
@define-color button_hover_background_color #ffb59d;
@define-color button_hover_shadow #000000;

/* -----------------------------------------------------
* General
* ----------------------------------------------------- */

* {
    font-family: 'JetBrains Mono', sans-serif;
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background: @blur_background;
    background-size: cover;
    font-size: 16pt;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    animation: gradient_f 20s ease-in infinite;
    border-radius: 80px;
    /* Increased border radius for a more rounded look */
    border: 0px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
        box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: @foreground;
}

button:focus {
    background-size: 22%;
    border: 0px;
}

button:hover {
    background-color: @button_hover_background_color;
    opacity: 0.8;
    color: @button_hover_text_color;
    background-size: 30%;
    margin: 30px;
    border-radius: 80px;
    box-shadow: 0 0 50px @button_hover_shadow;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em;
    /* Increase the font size */
}

/* -----------------------------------------------------
* Buttons
* ----------------------------------------------------- */

#lock {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url('icons/lock_white.png'));
}

#logout {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url('icons/logout_white.png'));
}

#suspend {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url('icons/suspend_white.png'));
}

#hibernate {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url('icons/hibernate_white.png'));
}

#shutdown {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url('icons/shutdown_white.png'));
}

#reboot {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url('icons/reboot_white.png'));
}
